body {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countlable {
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif; 
    color: #152340;
    margin-bottom: 20px;
}

#btncontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #152340;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: #ac2b3b;
}
